<section class="grid place-items-center mx-2 mb-10">
  <input
    type="text"
    placeholder="Search character by name"
    class="w-full rounded-lg px-3 py-2 ring ring-gray-400 sm:w-72"
    [formControl]="searchCharacter"
  >
</section>

<section class="grid grid-cols-flow gap-2">

  @for (character of characters; track character.id) {

    @defer (on viewport) {
      <app-card-character [character]="character" (loadCharacters)="loadCharacters($event)"/>
    }@placeholder {
      <p>Cargando...</p>
    }
  }

</section>
