<section class="group relative rounded-lg rounded-tl-none bg-slate-200 mx-2 p-6 my-10 grid gap-8 grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:mx-0">

  <a [routerLink]="['/']" aria-label="Back" class="absolute bg-slate-200 size-12 p-4 grid place-items-center rounded-full -top-6 z-10
      before:absolute before:size-10 before:bg-neutral before:rounded-full before:custom-clip-path before:hover:bg-rainbow">
  </a>

  @if (character) {
  <img [src]="character.image" [alt]="character.name" class="size-full object-cover object-center"
       [style]="{'view-transition-name': 'character'.concat(character.id.toString()) }">

  <div class="self-center space-y-4">
    <h2 class="font-bold text-3xl">{{ character.name | uppercase}}</h2>
    <ul class="space-y-3 text-lg">
      <li class="flex gap-2 items-center">
        <span class="font-medium text-gray-600">Status: </span>
        <span class="font-semibold">{{ character.status }}</span>
        <app-status-character [status]="character.status" />
      </li>
      <li>
        <span class="font-medium text-gray-600">Specie: </span>
        <span class="font-semibold">{{ character.species }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Type: </span>
        <span class="font-semibold">{{ character.type }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Gender: </span>
        <span class="font-semibold">{{ character.gender }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Location: </span>
        <span class="font-semibold text-wrap">{{ character.location.name }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Origin: </span>
        <span class="font-semibold text-wrap">{{ character.origin.name }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Created at: </span>
        <span class="font-semibold">{{ character.created | date:'short' }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Link: </span>
        <span class="font-semibold text-blue-500">
          <a [href]="character.url" target="_blank">{{ character.name | titlecase }}</a>
        </span>
      </li>
    </ul>
  </div>

  <div class="space-y-2 self-center sm:col-span-2 md:col-span-1 sm:text-center">
    <h3 class="font-bold text-2xl">Last 10 Episodes</h3>

    <!-- @for (episode of getEpisodes([2]); track episode.id) {
      <span class="block">{{ episode.name }}</span>
    } -->

    <ul class="flex flex-col gap-1 text-lg font-medium">
      <!-- @for (episode of character.episode.slice(character.episode.length - 10).reverse(); track $index) {
      <li class="hidden sm:block text-nowrap text-ellipsis overflow-hidden">{{ episode }}</li>
      <li class="text-nowrap text-ellipsis overflow-hidden sm:hidden">Episode {{ episode.slice(episode.lastIndexOf('/')+1) }}</li>
      } -->
    </ul>
  </div>

  }
</section>
