<section class="group relative rounded-lg rounded-tr-none bg-slate-200 mx-2 my-10 grid gap-8 grid-flow-row grid-cols-1 sm:grid-cols-2 md:mx-4 lg:grid-cols-4 lg:gap-10 2xl:mx-0">

  <a [routerLink]="['/']" aria-label="Back" class="absolute bg-slate-200 size-12 p-4 grid place-items-center rounded-full -top-6 right-0 z-10
      before:absolute before:size-10 before:bg-neutral before:rounded-full before:custom-clip-path before:hover:bg-rainbow">
  </a>

  @if (character) {
  <div class="sm:pl-8 sm:pt-8 lg:py-0 lg:pl-0">
    <img [src]="character.image" [alt]="character.name" class="size-full bg-red-500 rounded-t-lg object-cover object-center sm:rounded-b-lg lg:rounded-r-none"
         [style]="{'view-transition-name': 'character'.concat(character.id.toString()) }">
  </div>

  <div class="self-top space-y-3 px-8 sm:px-0 sm:py-8">
    <h2 class="text-center font-bold text-3xl text-neutral sm:text-left">{{ character.name | uppercase}}</h2>
    <ul class="space-y-2 text-lg">
      <li class="flex gap-2 items-center">
        <span class="font-medium text-gray-600">Status: </span>
        <span class="font-semibold">{{ character.status }}</span>
        <app-status-character [status]="character.status" />
      </li>
      <li>
        <span class="font-medium text-gray-600">Specie: </span>
        <span class="font-semibold">{{ character.species }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Type: </span>
        <span class="font-semibold">{{ character.type }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Gender: </span>
        <span class="font-semibold">{{ character.gender }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Location: </span>
        <span class="font-semibold text-wrap">{{ character.location.name }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Origin: </span>
        <span class="font-semibold text-wrap">{{ character.origin.name }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Created at: </span>
        <span class="font-semibold">{{ character.created | date:'short' }}</span>
      </li>
      <li>
        <span class="font-medium text-gray-600">Link: </span>
        <span class="font-semibold text-blue-500">
          <a [href]="character.url" target="_blank">{{ character.name | titlecase }}</a>
        </span>
      </li>
    </ul>
  </div>

  <div class="space-y-1 self-top pb-8 px-8 sm:col-span-2 md:col-span-2 lg:pl-0 lg:pt-8">
    <app-episode [episodes]="episodes" />
  </div>

  }
</section>
